aiohappyeyeballs
aiohttp
aiosignal
asyncmy
attrs
coloredlogs
discord.py
frozenlist
gphoto2
greenlet
humanfriendly
idna
multidict
platformdirs
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
yarl
